[user]
	email = eoin@eoinkelly.info
	name = Eoin Kelly

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[color "status"]
	added = green
	changed = red bold
	untracked = magenta bold

[color "branch"]
	remote = yellow

[core]
	# editor = vim # I want $EDITOR fallback so I can use nvim
  autocrlf = input
	excludesfile = /Users/eoinkelly/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
  # pager = delta --dark # --hunk-style=plain

#  x = "!cmd -arg -arg" # to run any shell cmd as alias
[alias]
	st = status
	co = checkout
	ci = commit
	lp = log --graph --decorate --pretty=oneline --abbrev-commit --all
	amend = commit --amend
	uncommit = reset --soft HEAD^
  unstage = reset HEAD --
	staged = diff --cached
	unstaged = diff
	both = diff HEAD
	l1 = log --pretty=oneline
  roblog = log --pretty=format:'%Cred %h %Creset %ad %Cgreen %an %Creset %s' --date=rfc
	pushf = push --force-with-lease
	serve = daemon --verbose --export-all --base-path=.git --reuseaddr --enable=receive-pack --strict-paths .git/
	patdiff = difftool -y -x patdiff

[push]
	default = current
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[credential]
	helper = osxkeychain

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
	compactionHeuristic = true
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = Kaleidoscope
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[merge]
  ff = only # experimental, may not be viable at work
  stat = true


[fetch]
  prune = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	template = /Users/eoinkelly/.stCommitMsg
[interactive]
	diffFilter = diff-highlight
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[log]
	# date = auto:human # breaks sourcetree on 2019-02-25
[pull]
	ff = only
